html,body{
	height: 100%;
	font-size: 16px;
}
#app{
	position: relative;
	height: 100%;
}
.flex{
	display: flex;
	box-align: center;
	align-items: center;
	.flex-child{
		display: block;
		flex: 1;
	} 
}

.flex2{
	@extend .flex;
	box-orient: vertical;
	flex-direction: column;
}

[v-cloak]{display:none;}