html,body{
	font-size: 16px;
	line-height: 24px;
}

#app{
	position: relative;
}
.flex{
	display: flex;
	box-align: center;
	align-items: center;
	.flex-child{
		display: block;
		flex: 1;
	} 
}

.flex2{
	@extend .flex;
	box-orient: vertical;
	flex-direction: column;
}

[v-cloak]{display:none;}