@import "./base";
html,body,#app{
    height: 100%;
}
.tip{
    display: flex;
    position: fixed;
    left: 50%;
    bottom: 0.83rem;
    margin-left: -3.2rem;
    width: 6.4rem;
    height: 0.49rem;
    padding: 0 0.9rem;
    box-sizing: border-box;
    justify-content: space-between;

    > a{
        overflow: hidden;
        display: block;
        width: 1.87rem;
        height: 0.49rem;
        text-indent: -9999px;
        &:first-child{
            @include bg('my.png');
        }
        &:last-child{
            @include bg('rule.png');
        }
    }
}
.rule-box,.prize{
    z-index: 500;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2.8rem;
    margin-top: -4.5rem;
    width: 5.6rem;
    height: 9rem;
    background-color: rgba(255,255,255,0.85);
    transform:scale(0);
    &.show{
        animation: bounceIn 1.3s 0s ease both;
    }
    h2{
        position: absolute;
        top: 0.73rem;
        left: 0;
        width: 100%;
        height: 0.48rem;
        background-position: center center;
    }
}
.rule-box{
    h2{
        @include bg('font-rule-t.png',2.02rem,100%);
    }
    p{
        position: absolute;
        top: 1.8rem;
        left: 0;
        width: 100%;
        height: 6.4rem;
        @include bg('font-rule.png',4.47rem,100%);
        background-position: center center;
    }
    
}
.prize{
    h2{
        @include bg('static/prize.png',1.84rem,0.44rem);
    }
    ul{
        position: absolute;
        top: 1.77rem;
        left: 50%;
        margin-left: -2.57rem;
        width: 5.15rem;
        overflow: hidden;
        li{
            width: 2.55rem;
            height: 3.21rem;
            margin-bottom: 0.05rem;
            @include bg('blank.png');
            
            &:nth-child(2n+1){
                float: left;
            }
            &:nth-child(2n){
                float: right;
            }
            &.active:nth-child(1){
                @include bg('card1.jpg');
            }
            &.active:nth-child(2){
                @include bg('card2.jpg');
            }
            &.active:nth-child(3){
                @include bg('card3.jpg');
            }
            &.active:nth-child(4){
                @include bg('card4.jpg');
            }
        }
    }
}


.scene{
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 100%;
    height: 100%;
    -webkit-overflow-scrolling : touch;
    display: flex;
    img{
        display: block;
        height: 100%;
    }
    /*span{
        opacity: 0.5;
        background: red;
    }*/
}

.door{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -3.2rem;
    width: 6.4rem;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .hand{
        width: 100%;
        height: 0.2rem;
        @include bg('handler.png',1.2rem,100%);
        background-position: center center;
        animation: fadeInDown 1s .5s ease both;
    }
    .img{
        width: 100%;
        margin-top: 0.4rem;
        height: 6.01rem;
        @include bg('door.jpg',3.72rem,100%);
        background-position: center center;
        animation: bounceIn 1s 0.2s ease both;
    }
    .msg{
        margin-top: 0.45rem;
        width: 100%;
        height: 0.88rem;
        @include bg('msg.png',4.02rem,100%);
        background-position: center center;
        animation: fadeInUp 1s 1.5s ease both;
    }
}
.tips{
    z-index: 8;
    position: fixed;
    top: 1rem;
    left: 50%;
    margin-left: -2rem;
    width: 4rem;
    line-height: 0.5rem;
    padding: 0.25rem 0.2rem;
    text-align: center;
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    font-size: 0.34rem;
    color: #fff;
}
.hide{
    display: none;
}
.toast{
    z-index: 1000;
    position: fixed;
    left: 50%;
    bottom: 1.8rem;
    margin-left: -2.22rem;
    width: 4.44rem;
    line-height: 0.5rem;
    padding: 0.25rem 0.2rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.34rem;
    color: rgba(255,255,255,.7);
    @include bg('toast.png');
    opacity: 0;
    transform: translateY(30px);
    transition: .6s;

    &.active{
        opacity: 1;
        transform:translateY(0px);
    }
}

::-webkit-scrollbar {
    width:0px;
    height:0px;
    background: rgba(0,0,0,0);
    opacity: 0;
}
::-webkit-scrollbar-button{
    opacity: 0;
    background: rgba(0,0,0,0);
}
::-webkit-scrollbar-track{
    background: rgba(0,0,0,0);
    opacity: 0;
}
::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,0);
    opacity: 0;
}
::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
    opacity: 0;
}
::-webkit-scrollbar-resizer{
    background: rgba(0,0,0,0);
    opacity: 0;
}


@keyframes bounceIn{
    0%{
        opacity:0;
        transform:scale(.3);
    }
    50%{
        opacity:1;
        transform:scale(1.02);
    }
    70%{
        opacity:1;
        transform:scale(.95);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
}

@keyframes fadeInUp{
0%{
    opacity:0;
    transform:translateY(20px)}
100%{
    opacity:1;
    transform:translateY(0)}
}

@keyframes fadeInDown{
0%{
    opacity:0;
    transform:translateY(-20px)}
100%{
    opacity:1;
    transform:translateY(0)}
}


@keyframes flash{
0%,50%,100%{opacity: 1;}
25%,75%{opacity: 0.2;}
}
